# Vivado files
xvhdl.log
xvhdl.pb
xvlog.log
xvlog.pb
xsim.dir/

# VCS files
simv.daidir/
csrc/
simv
ucli.key

# Compiler files
*.o
*.so
*.bin
*.mem
*.out
*.exe

# Top level folders
obj_dir/
bin/
misc/
__pycache__/
.vscode/

# Ninja artifacts
.ninja_log
build.ninja
build_riscv.ninja
build_verilator.ninja
build_verilator_compile.ninja
